<footer class="site-footer" style="height: 100px; margin: 0px">
  <div class="footer-logos" style="text-align:center;display:flex;justify-content:center;align-items:center;height: 100px;">
    <img src="/media/dri_logo_footer.png" alt="DRI Logo" width="90" height="90" loading="lazy" style="margin: 0 10px; height: 90px; width: auto;" />
    <img src="/media/imperial_logo_footer.png" alt="Imperial Logo" width="90" height="45" loading="lazy" style="margin: 0 10px; height: 45px; width: auto;" />
  </div>
</footer>