{{- $sharing_image := resources.GetMatch (path.Join "media" "sharing.*") -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{site.Params.marketing.seo.site_type | default site.Params.marketing.seo.site_type}},
  "@id": {{site.BaseURL}},
  "name": {{site.Params.marketing.seo.org_name | default site.Title}},
  "logo": {{ partial "blox-core/functions/get_logo_url" . }},
  {{with $sharing_image}}"image": {{.Permalink}},{{end}}
  "knowsAbout": [
    "Artificial Intelligence",
    "Machine Learning",
    "Deep Learning",
    "Computer Vision",
    "Natural Language Processing",
    "Large Language Models",
    "Multimodal AI",
    "Behavior Modeling",
    "Computational Persuasion",
    "Data Science",
    "Reinforcement Learning",
    "Content Generation",
    "Content Understanding",
    "Digital Media",
    "Human-Computer Interaction"
  ],
  "url": {{site.BaseURL}}
}
</script>
