// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// Custom styles for the Adobe logo in the hero section
.wg-hero .hero-media img {
  max-width: 300px !important;  // Set a fixed maximum width
  width: 300px !important;      // Force the width
  height: auto !important;      // Maintain aspect ratio
  margin: 0 auto;              // Center the image
}
